/*custom css*/

body {
  font-family: 'aktiv-grotesk'!important;
  color: #222;
  font-size: 18px;
  word-wrap: break-word;
}
h1,h2,h3,h4 {
  font-family: 'aktiv-grotesk'!important;
}

::selection {
    background-color: #ffe462;
    color: #fff;
  }

  a:hover {
    color: #ffe462;
  }

.font-menu {
  font-family: 'aktiv-grotesk'!important; 
  font-size: 20px;
  color: #222;
}

.font-menu:hover {
  font-family: 'aktiv-grotesk'!important; 
  color: #fff;
}
.logo-img {
  width: 80px;
  height: auto;
}
.header-black .fs-primary-nav-trigger .fs-menu-icon {
  background-color: #222;
}
.header-black .fs-primary-nav-trigger .fs-menu-icon::before, .header-black .fs-primary-nav-trigger .fs-menu-icon:after {
  background-color: #222;
}

.title-menu {
  font-family: 'Teko'!important;
  font-size: 30px;
  line-height: 35px;
  color: #fff;
  width: 20%;
  margin: 0 auto;
  padding-top: 10px;
}

.menu-line {
  border: 1px solid #fff;
  width: 20%;
  margin: 0 auto;
}

.font-menu {
  font-family: 'aktiv-grotesk'!important; 
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
}

.list-menu>.active {
  color: #ffe462;
}

.font-menu:hover {
  font-family: 'aktiv-grotesk'!important; 
  color: #ffe462;
}
.rev-btn {
  font-family: 'aktiv-grotesk'!important;
  font-weight: bold!important;
  color: #222;
}
.rev-btn {
  border-width: 2px!important;
  border-color: #222!important;
}
.socmed-menu {
  color: #fff;
}
.socmed-menu:hover {
  color: #ffe462;
}
.socmed-menu2 {
  color: #222;
  font-size: 30px;
  padding-right: 10px;
}
.socmed-menu2:hover {
  color: #ffe462;
}

/*page this is*/

.img-title {
  width: 400px;
  height: auto;
  display: inline-block;
}
.img-title2 {
  width: 250px;
  height: auto;
  display: inline-block;
}
.img-title3 {
  width: 150px;
  height: auto;
  display: inline-block;
}
#section-title {
  padding-top: 150px;
  padding-bottom: 50px;
}
.text-title {
  display: inline-block;
  vertical-align: bottom;
  font-size: 40px;
  line-height: 40px;
  font-weight: 900;
  padding-left: 20px;
}
.fes2-title-40 {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
}
#about {
  margin-top: 50px;
}
.left-about {
  background-image: url(../img/thisis/thisisbg.png);
  background-size: 900px;
  background-repeat: no-repeat;
  background-position: left;

}
.title-section {
  font-weight: 900;
  text-transform: uppercase;
}
.line-section {
  background-color: #ffe462;
  width: 200px;
}
.col-client {
  margin-top: 50px;
  margin-bottom: 50px;
}
.div-logo {
  padding: 20px;
  padding-right: 40px;
  padding-left: 40px;
}
#whatislike {
  padding-top: 100px;
  background-color: #F37D25;
  
}
#testimonial {
  margin-top: 50px;
  margin-bottom: 50px;
}
.testimonial-3:before {
    content: '“';
    position: absolute;
    left: 0;
    margin-left: 20px;
    font-size: 200px;
    line-height: 40px;
    color: #ffe462;
}

.testimonial-3:after {
    content: '“';
    transform: rotateX(180deg);
    transform: scaleX(-1);
    position: absolute;
    right: 0;
    margin-right: 40px;
    font-size: 200px;
    line-height: 40px;
    color: #ffe462;
}

.txt-testi {
  padding-bottom: 10px;
}

.fes2-main-text-cont {
    margin: 0 auto;
    padding: 125px 50px 125px 50px;
    max-width: 500px;
}
#footer-heading {
  font-weight: 900;
  text-transform: uppercase;
  font-style: 35px;
  line-height: 50px;
}
#footer-link li a {
  font-size: 14px;
  color: #222;
}
#footer-link li a:hover {
  font-size: 14px;
  color: #ffe462;
}
#footer-link {
  display: inline-block;
}
.link-footer {
  width: 170px;
  vertical-align: top;
}
#footer-mankind {
  background-color: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 50px;
}
.txt-footer1 {
  font-size: 16px;
  font-weight: 900;
  line-height: 20px;
}
.txt-footer2 {
  font-size: 14px;
  line-height: 20px;
}
@media screen and (max-width: 1024px) {
  #section-title {
    padding-top: 100px;
    padding-bottom: 50px;
}
.left-about {
    background-image: none;
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: left;
}
.fes2-main-text-cont {
    margin: 0 auto;
    padding: 50px 0px 50px 0px;
    max-width: 500px;
}
#client {
  margin-top: 50px;
}
.div-logo {
  width: 50%;
  float: left;
}
.text-title {
  line-height: 55px;
}
.testimonial-3:before {
  margin-left: 0px;
  font-size: 80px
}
.testimonial-3:after {
  font-size: 80px;
  margin-right: 0px;
}
.frame-img2 {
  height: auto!important;
}
.text-title {
  padding-left: 0px!important;
  padding-top: 10px;
}
}

.left-creative {
  background-image: url(../img/how/squareorange.png);
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: left bottom;
}
.right-creative {
  background-image: url(../img/how/squarepink.png);
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: right top;
}
.txt-services {
  font-weight: 900;
  line-height: 40px;
  font-size: 20px;
  text-transform: uppercase;
  text-align: left;
}
.txt-services2 {
  font-weight: 900;
  line-height: 40px;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
.box-1-1 {
  padding: 20px;
  height: 750px;
}
.box-2-1 {
  padding: 20px;
  height: 750px;
  float: none;
  display: inline-block;
  vertical-align: top;
}
.box-1 {
  padding: 20px;
}
.box-2 {
  padding: 20px;
  float: none;
  display: inline-block;
  vertical-align: top;
}
.row-center {
  text-align: center;
}
#division {
  margin-top: 50px;
}
.txt-div {
  font-size: 16px;
  text-align: justify;
  padding-top: 20px;
}
.author {
  font-weight: 900!important;
  font-size: 20px!important;
  line-height: 30px!important;
}
.txt-services {
  font-weight: 900;
  line-height: 40px;
  font-size: 20px;
  text-transform: uppercase;
  text-align: left;
  padding-top: 20px;
}
.txt-team {
  font-weight: 900;
  line-height: 40px;
  font-size: 16px;
  text-transform: uppercase;
  text-align: left;
}
.txt-role {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}
.box-3 {
  height: 350px;
  margin-top: 125px;
}
.txt-looking {
  font-size: 26px;
  line-height: 36px;
}
.link-looking {
  font-size: 16px;
  text-decoration: underline;
  line-height: 20px;
}
.frame-img {
  height: 300px;
  overflow: hidden;
}
.img-person:hover {
  transform: scale(1.1);
  transition: all ease 0.3s;
}
.img-person {
  object-fit: cover;
}
#work {
  margin-top: 50px!important;
}
.frame-img2 {
  height: 350px;
  overflow: hidden;
}
.img-client2 {
  object-fit: cover;
}
.img-client2:hover {
  transform: scale(1.1);
  transition: all ease 0.3s;
}
a:focus {
  color: #ffe462!important;
}
.div-client2 {
  padding: 20px;
}
#contact {
  padding-top: 100px;
}
.form-contact {
  padding-top: 50px;
}
.contact-detail {
  font-size: 16px;
  color: #222;
}
.form-title {
  font-weight: 900;
  font-size: 40px;
  line-height: 50px;
}
.btn-submit {
  border:2px solid #222;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #fff;
}
.btn-submit:hover {
  background-color: #222;
  color: #ffe462;
  transition: all ease 0.3s;
}
#contact-detail {
  margin-top: 50px;
}
#map {
  margin-top: 50px; 
}
.copyright-txt {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: #555;
}